:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #15133c;
  padding: 1rem 0;
  color: #fff;
  font-size: 1.5rem;
}
.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.cart {
  position: relative;
  margin-right: 1rem;
}
.cart span {
  font-size: 1.25rem;
  color: #fff;
  position: absolute;
  top: -2px;
  right: -2px;
  background-color: #f66b0e;
  padding: 0 0.25rem;
  border-radius: 50%;
}

.container {
  margin: 0 auto;
  padding: 0 4rem;
}
.shoes-list {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(6, minmax(200px, 400px));
  gap: 2rem;
  padding: 3rem 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #e9e9e9;
  padding: 1rem 0;
  gap: 1rem;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
}

/* add scale img inside parent element */

.loader {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
